<html>
<head>
    <title>Revoke</title>
</head>
<body>

<h1>Revoke a certificate</h1>

<form method="post" action="/1/certificate/revoke/">
    <p>
        CA:
        <br />
        <input type="text" name="ca" />
    </p>
    <p>
        Serial:
        <br />
        <input type="text" name="serial" />
    </p>
    <p>
        Reason:
        <br />
        <input type="text" name="reason" value="0" />
    </p>
    <p>
        <input type="submit" value="Revoke" />
    </p>
</form>

</body>
</html>
