<html>
<head>
    <title>Unrevoke</title>
</head>
<body>

<h1>Unrevoke a certificate</h1>

<form method="post" action="/1/certificate/unrevoke/">
    <p>
        CA:
        <br />
        <input type="text" name="ca" />
    </p>
    <p>
        Serial:
        <br />
        <input type="text" name="serial" />
    </p>
    <p>
        <input type="submit" value="Unrevoke" />
    </p>
</form>

</body>
</html>
